<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Mock App for creating user and Performing related operations</h1>
        <h3 class="text-center">USe this App to create new users with basic detils and view all users and delete unnecessary users </h3>
        <br>
        <br>
        <br>
        <div class="text-center">
            <button class="btn btn-primary" routerLink="/createmockuser">Create new user</button>
            &nbsp;
            <button class="btn btn-success" routerLink="/displayallusers">View all users</button>
        </div>
    </div>

</div>